
html {
  background: #fcfcfc;
}
body {
  /*max-width: 1280px;*/
  margin: 0 auto;
  font-family: roboto, sans-serif;;
  color: #222;
}

* {
  box-sizing: border-box;
}

/*
  MAIN
*/

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 12px;
  margin-top: 135px;
}
.main form {
  margin-left: 32px;
}

/*
  INFO BAR
*/

#info-bar {
  width: 100%;
  padding: 12px 12px 0 12px;
  position: fixed;
  top:0;
  background: #fff;
  box-shadow: 0 0 4px #ccc;
}

#project-info {
  margin-top: 12px;
  padding-top: 20px;
  padding-bottom: 8px;
  border-top: 1px solid #e8e8e8;
}
.project-info-edit {
  display: none;
}

#button-expand {
  text-align: center;
  padding-bottom: 4px;
  margin-top:16px;
  background: #f8f8f8;
  width: calc(100% + 28px);
  margin-left: -16px;
}
#button-expand:hover {
  background: #f4f4f4;
}

button#save-info {
  float: right;
  margin-top: -6px;
  padding: 8px 24px;
  font-family: roboto, sans-serif;
  background: hsl(210, 80%, 50%);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}
button#save-info:hover {
  background: hsl(210, 80%, 60%);
}
button#save-info:active {
  background: hsl(210, 80%, 45%);
}
button#save-info:focus {
  outline: none
}


/*
  NANO BAR (coloured bar)
*/

.nano-bar:after {
  content: "";
  display: table;
  clear: both;
}
.nano-bar {
  width:100%;
  height: 32px;
  font-size: 12px;
  font-family: "courier prime sans", inconsolata, consolas, menlo, monospace;
}
.nano-bar .progress {
  background: hsl(120,40%,80%);
  position: relative
}
.nano-bar .togo {
  position: relative;
  top:0
}
.nano-bar .progress_status, .nano-bar .remaining_status {
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  min-width: 80px;
  text-align: center;
  pointer-events: none;
  z-index: 999;
}
.nano-bar .remaining_status {
  color: #666;
}
.nano-bar div {
  float: left;
  /*overflow: hidden;*/
  height: 32px;
}
.nano-bar .progress div span, .nano-bar .togo .remaining_pace {
  position: relative;
  top:32px;
  background: #fff;
  box-shadow: 1px 1px 3px #ddd;
  width: 160px;
  padding: 4px 8px;
  border-radius: 0 4px 4px 4px;
  display: none;
}
.nano-bar .togo .remaining_pace {
  width: 240px;
}

.nano-bar .progress div:hover span, .nano-bar .togo:hover .remaining_pace {
  display: block;
  position: absolute;
}
