
html {
  background: #fcfcfc;
}
body {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 0 8px;
  font-family: "courier prime sans", inconsolata, consolas, menlo, monospace;
  color: #222;
}

* {
  box-sizing: border-box;
}


.nano-bar:after {
  content: "";
  display: table;
  clear: both;
}
.nano-bar {
  width:100%;
  height: 32px;
  font-size: 12px;
  margin: 8px 0;
}
.nano-bar .progress {
  background: #94d194;
  position: relative
}
.nano-bar .togo {
  position: relative;
  top:0
}
.nano-bar .progress_status, .nano-bar .remaining_status {
  color: #fff;
  position: absolute;
  top: 10px;
  width: 100%;
  min-width: 80px;
  text-align: center;
  pointer-events: none;
  z-index: 999;
}
.nano-bar .remaining_status {
  color: #666;
}
.nano-bar div {
  float: left;
  /*overflow: hidden;*/
  height: 32px;
}
.nano-bar .progress div span, .nano-bar .togo .remaining_pace {
  position: relative;
  top:32px;
  background: #fff;
  box-shadow: 1px 1px 3px #ddd;
  width: 160px;
  padding: 4px 8px;
  border-radius: 0 4px 4px 4px;
  display: none;
}
.nano-bar .togo .remaining_pace {
  width: 240px;
}

.nano-bar .progress div:hover span, .nano-bar .togo:hover .remaining_pace {
  display: block;
  position: absolute;
}
